body {
  background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Baloo Thambi', cursive;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-container {
  width: auto;
}

.label-select {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

label {
  margin-right: 20px;
}

h3 {
  text-align: center;
}

#amiibo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.amiibo {
  margin: 10px;
}

ul {
  padding: 0;
  margin: 20px;
}

li {
  font-size: 16px;
  text-align: center;
  list-style-type: none;
}

.image {
  display: block;
  height: 250px;
  width: 200px;
  margin: auto;
}
